*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Titillium Web', sans-serif;
    background-color: #111;
    
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header{
    height: 900px;
    width: 200%;
    max-width: 100%;
    position: relative;
    background: linear-gradient(rgb(17 47 44 / 69%),rgb(2 8 7 / 93%)), url(contact-bg.jpg);
    /* background-attachment: fixed; */
    /* background-position: top right; */
    /* background-position-x: 0px; */
    background-position-y: 107px;
    background-repeat: no-repeat;
    background-size: 100% 109%;;
}
.header .text-box .btn{
    margin-top: 30px;
}
button:not(.prv){
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid rgb(216, 90, 111);
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: .4s ease;
    overflow: hidden;
    cursor: pointer;
    position:relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    z-index: 10;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

button::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #22ec4da1;
    opacity: .8;
    transition: all .6s ease;
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(-45deg);
    z-index: -1;
    
}
button:not(.prv)::before{
    height: 300%;
}
.text-box{
    position: absolute;
    top: 24%;
    left: 4%;
    z-index: 1;
    width: 685px;
    
}
.text-box h1{
    background: linear-gradient(to left,rgb(87, 255, 87), rgb(51, 224, 152),skyblue,#007eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn:hover .inside{
    z-index: 100000000000000000;
}
 .container{
     width: 600px;
     height: 600px;
     background-color: #ddd;
  
     margin: 100px auto;
     text-align: center;
     position: relative;
     overflow: hidden;
 }   
/* .svg1{
    height: 400px;
    width: 400px;
    border: 2px solid red;
    position: absolute;
    top: 18%;
    left: 15%;
    background: #343459;

}
.my-img{
    height: 400px;
    width: 400px;
    filter: blur(10);

}
.content{
    margin: 100px auto;
    margin-left: 30%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 2;

}
.hover-content{
    background-color: rgba(30, 158, 146,0.8);
    transition: .6s ease;
    z-index: 1;
    height:0 ;
    width: 100%;
    position: absolute;
    bottom:1.5%;
    left: 0;
    text-align: center;
    overflow-y: hidden;
}
.hover-content .main{
    display: contents;
}
.hover-content h1{
margin-top: 30px;
}
.hover-content p{
    margin-left: -180px;
    }
.content:hover .hover-content{
    height: 98.5%;
    overflow: hidden;
}
.description{
    width: 80%;
    margin-left: 50px;
    margin-top: 50px;
}
.links{
    background: rgb(15, 15, 15);
    position: absolute;
    top: 300px;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: .9;
    
}

.links ul{
    list-style-type: none;
    position: absolute;
    left: 6%;
    top: 6%;
}
a{
    text-decoration: none;
}
.links ul li{
    float: left;
    margin-left: 28px;
}
.links ul li a{
    font-size: 28px;
    color: #8e8383;
}
.links ul li a:hover{
    color: #fff;
}
.name{
    margin-left: 20%;
}
.name p{
    margin-left: -83px;
}
.img2{
   opacity: 1;
   transition: .6s ease;
   position: relative;
}
.fade{
    position: relative;
    overflow: hidden;
    transition: .6s ease;
    display: inline-block;
    text-align: center;
    animation: scale .7s ease;
}
@keyframes scale{
    0%{
        transform: scale(0.8);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.fade:hover .img2{
    filter: blur(2px);

}
.overlay{
    position: absolute;
    top: 50px;
   
    opacity: 0;
    transition: .6s ease;
}
.fade:hover .overlay{
    opacity: 1;
}
.fade .links-2{
    position: absolute;
    top: 170%;
    left: 0%;
    background-color: darkgray;
    width: 100%;
    text-align: center;
    height: 100%;
}
.fade .links-2 ul{
    margin-left: 25px;
    margin-top: 18px;
    opacity: .7;
}
.fade ul li{
    float: left;
    margin-left: 35px;
}
.fade ul li a{
    font-size: 35px;
}
.contact-btn{
    position: absolute;
    top: 221px;
    left: 130px;
}
button:active{
    border:2px solid rgb(77, 201, 124) ;
}
button:focus{
    border:2px solid rgb(37, 49, 214) ;
}
@media(prefers-color-sheme: dark){
    body{
        background-color: #000;
    }
}
.anim{
    display: inline-block;
    background-color:red;
    width: 25px;
    height:25px;
    border-radius: 7px;
    animation: move 2s infinite linear;
-webkit-font-smoothing: antialiased;
margin-left:40px;

    
}
.anim i{
animation: move 2s infinite linear;
-webkit-font-smoothing: antialiased;
    
}

@keyframes move{
0%{
    transform: rotate(0deg);
}
100%{
    transform: rotate(350deg);
}
}

.img3{
    height: 400px;
    width: 400px;
}
.olo{
    color: rgb(15, 15, 15);
    display: block;
} */
.logo{
    display: inline-block;
    margin: 1% 2% 1% 1%;
}
.logo p{
    float: right;
    margin: 5px 0px 0px 8px;
    font-size: 21px;
    /* color: palegreen; */
    background: linear-gradient(to right,rgb(87, 255, 87), rgb(51, 224, 152),skyblue,fuchsia);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    letter-spacing: 1px;
}
.logo img{
    height: 38px;
    width: 40px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.nav{
    float: right;
    display: inline-block;
}
.nav ul li:not(.dropdown_li){
    float: left;
    margin-left: 35px;
    padding: 5px 5px 5px 5px;
    transition:all .1s ease;
    -webkit-transition:all .1s ease;
    -moz-transition:all .1s ease;
    -ms-transition:all .1s ease;
    -o-transition:all .1s ease;
}
.nav:not(.intro_nav2) ul li:hover{
    background-color: salmon;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.nav ul li:hover a:not(.dropdown_li>a){
    color: #fff;
}
.nav ul li a{
    color: #ccc8c8ed;
    font-size: 13px;
    text-transform: uppercase;
}

.intro{
    background-color: #262626;
    height: 110px;
    position: relative;

}
.intro .intro_nav1{
    margin: 1.89% 1% 0% 0%;
}
.nav_active{
    position: relative;
}
.nav_active::before{
    content: "";
    height: 40px;
    width: 22px;
    background-color: #4e4c4c;
    position: absolute;
    transform: translateY(15px);
    transform: rotate(45deg);
    top: 28px;
    left: 2px;
    border-radius: 2px;
    border-width: -13px;
    border: 1px solid #4e4c4c;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.intro .intro_nav2{
    margin: -2px 0px 4px 0;
    background: #4e4c4c;
    padding: 0px 2px 8px 0px;
    width: 100%;

}
.intro_nav2 ul li a img{
    width: 15px;
    height: 10px;
}
.intro_nav2 ul li{
    position: relative;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}
.intro_nav2 ul li:hover .dropdown{
    display: block;
}
.nav:first-child{
    margin-left: 0;
}
.dropdown{
    display: none;
    position: absolute;
    top: 24px;
    background: #fcfcfc;
    width: 200px;
    left: 0;
    z-index: 10;
    box-shadow: 3px 5px 10px 0px #3a3e3a;
}
.dropdown_li{
    padding: 8px;
}
.dropdown_li:hover{
    background: hsl(0, 0%, 90%);
}
.tf1stbe::after{
    content: "";
    height: 1.5px;
    width: 200px;
    display: block;
    background-color: rgb(210 207 202);   
    position: absolute;
    top: 32px;
    left: 0;
}
.dropdown_li>a{
    color: black !important;
}
.intro_nav2 ul li:not(.dropdown_li):hover{
    background-color: #8f8a8a;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.nav2_wrapper{
    margin: 14px 0px 0px 0px;
}
.searchbox{
    float: right;
    margin: 5% 5% 0% 1%;
    width: 330px;
    position: relative;
}
.searchbox input{
    width: 280px;
    height: 46px;
    border: 0;
    cursor: text;
}
.search_icon{
    float: right;
    position: absolute;
    right: 0;
    top: 4px;
    background: #6ba229;
    width: 40px;
    height: 42px;
    text-align: center;
    border: 3px solid;
    border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(153, 216, 51));
    border-image-slice: 1;
    border-left: 0;
    border-bottom: 0;
    padding: 2px;
    border-top: 0;
    cursor: pointer;
}
input:focus{
    outline: none;
    cursor: pointer;
}input:hover{
    cursor: pointer;
}
.search_wrap{
    border: 4px solid;
    border-image-source: linear-gradient(45deg, rgb(3, 100, 74),rgb(209, 185, 29));
    border-image-slice: 1;
}
img{
    height: 230px;
    width: 400px;
}
.header .row{
    position: absolute;
    top: 48%;
    width: 70%;
    left: 17%;
}
.header .row .col{
    width: 400px;
    overflow: hidden;
    height: 450px;
}
.header .row .col:nth-child(2){
    margin-left: 150px;
}
.info{
    background-color: #fff;
    margin-top: -4px;
    height: 200px;
    padding: 10px;

}
.header h3{
    font-size: 21px;
    color: #514c4c;
    height: 39px;
    overflow: hidden;
}
.info_wrap{

}
.info p{
    color: rgb(59, 59, 58);
    font-size: 16px;
    font-weight: bold;
}
.yw3yv a{
    font-family: initial;
    font-size: 15px;
    color: rgb(100, 100, 100);
}
.yw3yv a:hover{
    text-decoration: underline;
}
.theme_author{

}
.fa-star{
    color: rgba(245, 245, 9, 0.89);
}
.sales{

}
.cart{

}
.preview{

}